svg {
    background-color: #fff;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    /*display: none;*/
}

path.line {
    fill: none;
    stroke-width: 2px;
}

path.line.a {
    stroke: #cc0000;
}

path.line.b {
    stroke: #4986db;
}

/* tooltips */
/*
div.white {
    background-color: #fff;
}

div.tooltips {
    position: absolute;
    color: #fff;
    width: 150px;
    padding: 8px;
    font: 12px sans-serif;
    background: #333;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
}
*/