/* sorry but i want to make sure it fit nicely in the edx courseware */
.container {
    max-width: 700px;
}

input.rate {
    padding-right: 3px;
    border-radius: 0;
    text-align: right;
    border-top-width: 0;
}

#tableA thead tr.space td {
    padding-bottom: 10px;
}

#tableA tbody tr:first-of-type input.rate {
    border-top-width: 1px;
}

#tableA .form-control {
    height: 20px;
    font-size: 12px;
    border-radius: 0;
}

#tableA thead > tr:last-child th {
    padding-bottom: 5px;
}

#tableA th, #tableA td {
    padding: 0 4px;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
}

#tableA tbody td.input {
    width: 63px;
}

#tableA .separator {
    width: 10%;
}

input#startDate {
    width: 88px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 0;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th, tr.highlight {
    background-color: #e5e5e5;
}

input.error {
    color: white;
    background-color: #cc0000;
}

.red {
    color: #cc0000;
}

.blue {
    color: #4986db;
}

#graph-title {
    margin: 20px 0 0 0;
}

/*
** D3 Graph styles
*/
#graph svg {
    width: 100%;
    height: 500px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

path.line {
    fill: none;
    stroke-width: 2px;
}

path.line.a {
    stroke: #cc0000;
}

path.line.b {
    stroke: #4986db;
}

.rate.dot, .DF.dot {
    fill: #fff;
    stroke: #000;
}

div.tooltip {
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    padding: 3px 8px;
    font: 12px sans-serif;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    pointer-events: none;
    white-space: nowrap;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}

div.tooltip.show {
    opacity: 1;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
}

svg line.hover {
    stroke-width: 2;
    stroke: rgba(0, 0, 0, 0.3);
    stroke-dasharray: 5,3;
    fill: none;
}