/* sorry but i want to make sure it fit nicely in the edx courseware */
.container {
    max-width: 700px;
}

input.rate {
    padding-right: 3px;
    border-radius: 0;
    text-align: right;
    border-top-width: 0;
}

#tableA thead tr.space td {
    padding-bottom: 10px;
}

#tableA tbody tr:first-of-type input.rate {
    border-top-width: 1px;
    border-radius: 4px 4px 0 0;
}

#tableA tbody tr:last-of-type input.rate {
    border-radius: 0 0 4px 4px;
}

#tableA .form-control {
    height: 25px;
    font-size: 12px;
}

#tableA thead > tr:last-child th {
    padding-bottom: 5px;
}

#tableA th, #tableA td {
    padding: 0 4px;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
}

input#startDate {
    width: 88px;
}

.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
    background-color: #e5e5e5;
}

.red {
    color: #cc0000;
}

.blue {
    color: #4986db;
}

svg {
    background-color: red;
}

